@import "tailwindcss";

@theme {
	--color-primary: #521d2a;
	--color-base: #ffffff;
	--color-accent: #d49f80;
	--color-muted: #666465;
	--color-light: #ffffff;

	--font-size-h1: 5.5rem;
	--font-size-h2: 3rem;
	--font-size-lg: 1.125rem;
	--font-size-md: 1rem;
	--font-size-sm: 0.875rem;

	--font-family-overlock: "Overlock", sans-serif;
}

@layer utilities {
	.text-h1 {
		font-size: var(--font-size-h1);
		line-height: 1.1;
	}
	.text-h2 {
		font-size: var(--font-size-h2);
		line-height: 1.2;
	}
	.text-lg {
		font-size: var(--font-size-lg);
		line-height: 1.5;
	}
	.text-md {
		font-size: var(--font-size-md);
		line-height: 1.5;
	}
	.text-sm {
		font-size: var(--font-size-sm);
		line-height: 1.5;
	}
}

.font-overlock {
	font-family: var(--font-overlock), serif;
}
